#if( $util.isNull($context.arguments.input.amount) )
  $util.error("input.amount is required to add a cash receipt.", "ValidationException")
#end

{
  "version": "2018-05-29",
  "operation": "Invoke",
  "payload": {
    "info": {
      "fieldName": $util.toJson($context.info.fieldName),
      "parentTypeName": $util.toJson($context.info.parentTypeName)
    },
    "arguments": $util.toJson($context.arguments),
    "identity": $util.toJson($context.identity)
  }
}

