## AdminListUsers.res.vtl - Response mapping for Lambda returning UserListResult
$util.qr($ctx.stash.put("lambdaResult", $ctx.result))
$util.qr($ctx.log.info("AdminListUsers.res.vtl - Lambda result: $util.toJson($ctx.result)"))

## Directly return the JSON output as-is
$util.toJson($ctx.result)
